body {
    font-family: 'Arvo', sans-serif;
    margin: 0px;
    padding: 0px;
}

.header {
    height: 100px;
    background-color: #7D7D7D;
    color: #f2f2de;
    font-size: 16px;
    padding-top: 10px;
    margin-top: -20px;
}

#name {
    float: left;
    padding: 0px 15px;
    color: #f2f2de;
    font-size: 35px;
    vertical-align: top;
    position: relative;
}

#nav {
    margin-left: 600px;
    vertical-align: middle;
    padding-top: 30px;
    width: 500px;
}

#nav p {
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    font-weight: bold;
    float: left;
    border-radius: 5px 30px;
    margin: 0px 10px 0px 5px;
}

#workbutton {
    background-color: #9FD09C;
}

#aboutbutton {
    background-color: #7FACD7;
}

#contactbutton {
    background-color: #8078C2;
}

a:link {
    text-decoration: none;
    color: #f2f2de;
}

a:visited {
    color: #f2f2de;
}

a:hover {
    font-weight: bold;
    color: grey;
}

h2 {
    margin-left: 5px;
    margin-bottom: 15px;
    color: #f2f2de;
}

.body div {
    padding: 15px;
}

#top {
    background-color: #F8E9AE;
    text-align: center;
    width: 100%;
}

#top table {
    background-color: #dfd19c;
    vertical-align: center;
    padding: 15px;
    border: 1px, black;
    width: 900px;
    height: 100px;
    border-style: dotted;
    margin: 0 auto;
    color: #474747;
}

#work {
    background-color: #9FD09C;
    color: #f2f2de;
    font-size: 120%
}

#about {
    background-color: #7FACD7;
    color: #f2f2de;
    font-size: 120%;
    line-height: 175%
}

#contact {
    background-color: #8078C2;
    color: #f2f2de;
    font-size: 120%
}

.footer {
    height: 50px;
    background-color: #7D7D7D;
    clear: both;
    text-align: right;
    position: relative;
    color: #f2f2de;
    font-size: 12px;
}

.footer p {
    position: relative;
    padding-top: 15px;
    padding-right: 15px;
    margin: 0px;
}